<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>dev.tars.cased</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/you/tars/bin/cased</string>
      <string>--config</string>
      <string>/Users/you/tars/config/cased.config.yaml</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/you/tars</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/you/tars/.logs/cased.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/you/tars/.logs/cased.err.log</string>
  </dict>
</plist>
